<div id="map"></div>
<div id="content-wrapper">
  <div class="container" id="news-img-container">
    <img src="/assets/test.jpg">
  </div>
  <div class="container" id="title-container">
    <h2 id="title">打卡地圖測試</h2>
  </div>
  <div class="container" id="content-container">
    <p id="content">Apple's problem:1.openstreet map 縮放不容易(忽略了地圖的高度) 2.左右的function not intuitive 3.location and time should be specified (Timeline, address or at least name) 4.pin icon on the map, not intuitive 5.縮圖不知道放在那邊幹什麼 Our decisions to make (Google map or OpenStreetMap?). Whether putting the content layer on the map is a good solution? Consider data loading and visual feeling
    </p>
  </div>
  <div class="container" id="time-container"></div>
</div>